/* Created by: Dang
* Created on: Mar 2024
* This file contains the CSS for index.html
*/

body {
  margin: 0;
}

#wrap {
  text-align: center;
  border: solid black 5px;
  max-width: 500px;
}

.mdl-layout__header {
  margin: 100px;
  text-align: center;
}

.pic {
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 80px;
}

.all {
  margin-top: 100px;
  justify-content: space-between;
}

