/* Created by: Dang
* Created on: Mar 2024
* This file contains the CSS for index.html
*/

body {
  margin: 0;
}

#wrap {
  text-align: center;
  border: solid black 5px;
  max-width: 500px;
}

.H1 {
  padding: 0;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.244);
}

button:active{
  background-color: rgba(0, 0, 0, 0.44);
}

.pic {
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
  bottom: 20px;
}

